*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  color: #3d3d3d;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: -0.47px;
  overflow-x: hidden;
}
main {
  flex-grow: 1;
}
main,
header,
footer {
  width: 100%;
}
header,
footer {
}
a {
  text-decoration: none;
  color: #3d3d3d;
}
a:hover {
  text-shadow: 3px 4px 4px rgba(0, 0, 0, 0.2);
}
h1 {
  font-weight: bold;
  font-size: 80px;
  line-height: 81px;
  /* or 101% */
  letter-spacing: -1.78px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
h2 {
  font-weight: 600;
  font-size: 30px;
  line-height: 44px;
  /* identical to box height, or 147% */
  letter-spacing: -0.64px;
}
ul li {
  list-style-type: none;
}
.conteiner {
  max-width: 1150px;
  width: 100%;
  margin: 0 auto;
  /* border: 1px solid #000; */
}
/* розділення шаблона від тіла программи ======== */
/* ============================================= */
.header {
  display: flex;
  align-items: center;
  height: 96px;
}
.header-menu {
  display: flex;
  justify-content: space-between;
}
.header-menu__logo img {
  width: 68px;
  height: 68px;
  padding-top: 24px;
  margin-left: -10px;
  color: #3d3d3d;
}
.header-menu__conteiner {
  display: flex;
  align-items: center;
}
.header-menu__items ul {
  display: flex;
}
.header-menu__items li,
.header-menu__icons li {
  padding-left: 1em;
  /* border: 1px solid #000; */
}
.header-menu__items a {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
}
.header-menu__icons ul {
  display: flex;
  height: 32px;
}
/* submenu ======================= */
/* .header-burger {
  margin-left: 0rem;
  font-size: 16px;
}
.header-burger__topmenu li {
  position: relative;
}
.header-burger__submenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  margin-left: -4.5rem;
  width: 15rem;
  z-index: 2;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.25s ease-in-out;
}
.header-burger .header-burger__submenu {
  -webkit-transform: scaleY(0);
  -ms-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
.header-burger ul li:hover .header-burger__submenu {
  -webkit-transform: scaleY(1);
  -ms-transform: scaleY(1);
  transform: scaleY(1);
} */

.header-burger {
  margin-left: 0rem;
  font-size: 16px;
  line-height: 28px;
}
.header-burger__topmenu {
  position: relative;
}
.header-burger__submenu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  margin-left: -4.5rem;
  width: 8rem;
  z-index: 2;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.25s ease-in-out;
}
.header-burger__submenu {
  -webkit-transform: scaleX(0);
  -ms-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}
.header-burger:hover .header-burger__submenu {
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
  top: 4rem;
}

/* 
div.menu-bar ul ul {
  display: none;
}

div.menu-bar li:hover > ul {
  display: block;
} */
/* MAIN****************************************** */
.main {
  /* display: flex; */
}
.main-content {
  display: flex;
  justify-content: space-between;
  margin: 139px 0 276px 0;
}
/* right */
.main-content__img {
  max-width: 572px;
  max-height: 555px;
  padding-left: 55px;
}
/* buttons */
.main-content__text__buttons {
  display: flex;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 80px;
  margin-right: 48px;
  font-size: 40px;
  line-height: 80px;
  letter-spacing: -0.85px;
  cursor: pointer;
}
.button:hover {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.8);
}
.main-content__text__buttons__left {
  background-color: #3d3d3d;
}
.main-content__text__buttons__left a {
  color: #fff;
}
.main-content__text__buttons__right {
  color: #ff7171;
  border: 2px solid #ff7171;
}
/* link */
.main-content__text__link {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: -0.18px;
  margin-top: 25px;
}
.main-content__text__link svg {
  width: 20px;
  height: 20px;
  color: #ffdb00;
  margin-right: 5px;
}
.main-content__text__link a:hover {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
/* footer*********************************** */
.footer__logo {
  width: 48px;
  height: 48px;
  margin: 40px 0;
}
.footer-items {
  margin-right: 86px;
}
.footer-items a {
  transition: all 0.25s;
}
.footer-design span {
  font-size: 16px;
  line-height: 21px;
  text-align: right;
  letter-spacing: 0.01px;
  color: #989898;
  transition: all 0.25s;
}
.footer-items a:hover,
.footer-design a:hover {
  text-shadow: 5px 4px 4px #ff7171;
}
/*************************************************************/
@media all and (max-width: 1930px) {
  body {
    font-size: 2em;
  }
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 30px;
  }
  .header-menu__items a {
    font-size: 25px;
  }
  .header-burger__submenu {
    width: 10em;
    font-size: 20px;
    line-height: 40px;
  }
}
@media all and (max-width: 1250px) {
  body {
    font-size: 1.5em;
  }
  .conteiner {
    width: 100%;
    padding: 0 75px;
  }
  h1 {
    font-size: 80px;
  }
  h2 {
    font-size: 30px;
  }
}
@media all and (max-width: 1034px) {
  body {
    font-size: 1em;
  }
  .conteiner {
    width: 100%;
    padding: 0 75px;
  }
  .main-content__img img {
    width: 400px;
  }
  .main-content__text {
    width: 50%;
  }
  h1 {
    font-size: 50px;
    line-height: 40px;
  }
  h2 {
    font-size: 20px;
  }
  .header-menu__items a {
    font-size: 15px;
  }
  .header-burger__submenu {
    width: 8em;
    font-size: 15px;
    line-height: 30px;
  }
}
@media all and (max-width: 778px) {
  body {
    font-size: 1em;
  }
  .conteiner {
    width: 100%;
    padding: 0 75px;
  }
  .main-content__img img {
    width: 300px;
  }
  .main-content__text {
    width: 50%;
  }
  h1 {
    font-size: 40px;
    line-height: 40px;
  }
  h2 {
    font-size: 20px;
  }
  .header-menu__items a {
    font-size: 15px;
  }
  .header-burger__submenu {
    width: 8em;
    font-size: 15px;
    line-height: 30px;
  }
}
@media all and (max-width: 330px) {
  body {
    font-size: 0.9em;
  }
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 14px;
  }
  .conteiner {
    padding-right: 100px;
  }
  .header-menu__items {
    display: none;
  }
  .header-burger__submenu {
    margin-left: -18rem;
  }
  .header-burger__submenu li {
    background-color: #ff7171;
    font-size: 50px;
    line-height: 60px;
    width: 18rem;
  }
  .main-content {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    margin: 0;
  }
  .main-content__text {
    width: 150%;
  }
  .main-content__img img {
    width: 200px;
  }
  .main-content__text__buttons {
    flex-wrap: wrap;
  }
  .button {
    width: 250px;
    height: 120px;
    margin: 0 0 10px;
  }
  .footer-design {
    width: 200px;
    padding-left: 3rem;
  }
}
